.topBar {
    max-width: 1024px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topBar .title {
    margin-left: 10px;
}

.signInButton {
    text-decoration: none;
    color: rgb(22, 22, 22);
    border: 1px solid rgb(165, 165, 165);
    border-radius: 25px;
    padding: 5px 40px;
    transition: 0.3s;
    margin-right: 10px;
}

.signInButton:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.hero {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.hero h1 {
    font-size: 60px;
}

.hero .actions {
    margin-top: 25px;
}

.hero .actions a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
}

.hero .actions a:hover {
    opacity: 1;
}

.more {
    text-align: center;
}

.more i {
    color: black;
}

@media (min-width: 1030px) {
    .contact form .fluidInputs div:nth-child(2) {
        margin-left: 15px;
    }
}

.contact {
    height: 90vh;
    max-width: 1024px;
    margin: 0 auto;
}

.contact h2 {
    text-align: center;
    margin-top: 80px;
}

.contact > p {
    text-align: center;
    margin-bottom: 50px;
}

.contact form .fluidInputs {
    display: flex;
    flex-wrap: wrap;
}

.contact form .fluidInputs div {
    flex-grow: 1;
    min-width: 500px;
}

.contact form div > textarea, .contact form .fluidInputs div input {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 5px;
}

.contact form button {
    margin-top: 15px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 0.9;
    border: 0;
}

.footer {
    width: 1024px;
    margin: 50px auto;
}